body{
    font-family: Tahoma, sans-serif;
    color: #333333;
}
.site-header{
    font-size: 24px;
    font-weight: 400;
    line-height: 1.5;
}
.header span{
    font-weight: bold;
    display: block;
}
.header{
    padding-top: 120px;
}
.video-form{
    margin-top: 85px;
}
.video{
    margin-bottom: 30px;
}
.form-header{
    font-size: 20px;
    font-weight: 700;
}
.site-form input{
    height: 49px;
    border: 1px solid #333333;
    margin-bottom: 10px;
}
.site-form p{
    margin-bottom: 38px;
}
.site-btn{
    height: 64px;
    background-color: #2727d9;
    opacity: 0.9;
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
}
.form-wrapper{
    border: 5px solid #2727d9;
    padding-top: 36px;
    padding-bottom: 30px;
}
.features{
    margin-top: 146px;
}
.features-img{
    margin: 82px 0 94px 0;
}
.fetures-item{
    height: 125px;
    margin-bottom: 30px;
}
.fetures-item p{
    margin-top: 21px;
}
.clients{
    margin-top: 100px;
}
.clients-header{
    margin-bottom: 82px;
}
.clients-item{
    margin-bottom: 33px;
}